{% extends 'base.html' %}
{% block title %}
    About
{% endblock %}

{% block body %}
    <div style="display: flex; justify-content: center;">
        <div style="width: 50%;">
            <h2>About</h2>
            <h3>How to book cheap flights</h3>
            <p>Is the best way to search, find and book cheap flights from Israel and at all world. We make discounts,
                flight
                deals, and low-cost
                airfares easy to find.
                To find cheap flights online, On Travel Israel is the best and easiest way to get discounts on one-way,
                return,
                international, and multi-city routes.</p>
            <hr>
            <h3>Find cheap flights without a destination</h3>
            <p>If you want to find the cheapest flights to anywhere, you can do that on Travel Israel as well. If you
                don’t have
                a
                particular destination, simply choose your departure location and select ‘Anywhere’ as your destination.
                This
                will show you the cheapest routes from your location.

                You can also use our map search to find a cheap destination: zoom in or move the map, and destinations
                and
                prices will appear. You can see the best deals highlighted in green, so you’ll know you’re getting a
                great
                price.</p>
            <hr>
            <h3>Flying on a budget</h3>
            <p>f you always want to see the cheapest deals, Travel Israel has a number of ways to help. If you subscribe
                ,
                we will send alerts and offers directly to you so you’ll never miss a low price again.

                When you search, you can also set up a Price Alert: this means that searches low prices for you! Choose
                the route you’re interested in, and on the results screen you will see a ‘Create price alert’ button.
                Click this
                and choose a price range. When the price of your route changes by this amount, we will email you to tell
                you.
                You can then book at this cheaper price.

                Sometimes, routes open and close depending on the season, the popularity of the route, or other
                unforeseen
                conditions. If you search for a route and there are no results. Availability Alerts can help. Click
                ‘Notify me’, and when this route opens, we will message you.

                When you search for a route that combines both short- and long-haul flights, you can work within your
                budget by
                combining different cabin classes: economy, premium economy, business class or first class. For example,
                if you
                want to fly from New York to Paris in business class, but don’t want to pay for the same on the Paris to
                Berlin
                part of your itinerary, you can choose not to. This allows you to have better prices: mixed cabin
                classes are
                more affordable than booking only business or first class trips, and it also gives you more route
                options.

                Another way to save even more money is with our flexible Fare Types. When you book with, we offer three
                different Fare Types, so you can choose the best combination of price and flexibility. The Saver ticket
                is the
                option to choose if you don’t plan to cancel or change your trip, and gives you the absolute lowest
                price
                available. The Standard ticket gives you the option to rebook at a later date, and the Flexi ticket
                means you
                have the security to be able to not only rebook, you can also cancel your trip entirely.</p>
            <hr>

            <h3>The best time and day to book flights</h3>
            <p>It’s easy to find the best time and day to fly using Travel Israel flexible search engine. You can enter
                the exact dates you’d like to travel, or you can choose a range of dates to find the cheapest option.

                When you search, you will see the lowest price available on each date, so you can select the one that’s
                right for you, or filter to find the fastest or best options. You can also filter flights by maximum
                price, or choose a range of prices.</p>
        </div>
    </div>
{% endblock %}